// Specific CSS for your home-page
.banner {
  height: 350px;
  width: auto;
  // object-position: 50% 50%;
  // background-size: cover;
  // object-fit: cover;
  // flex-direction: column;
  // align-items: flex-start;
  background-color: #F6F6ED;
  display: flex;
  flex-wrap: wrap;

  h1 {
    flex: 50%;
    text-align: center;
    // align-items: center;
    // justify-content: center;
    padding-top: 10%;
    font-size: 70px;
    color: black;
    text-shadow: 1px 1px 2px #1d2d476f;
  }

  img {
    flex: 50%;
    max-height: 100%;
    max-width: auto;
    // object-fit: cover;
    object-fit: contain;
    background-color: #F6F6ED;
  }
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #142543;
  text-shadow: 1px 1px 2px #1d2d476f;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

  h1,
  .img {
    flex: 100%;
  }
}
