.recipe {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  // gap: 15px;
}

.photos {
  flex: 50%;
}

.infos {
  flex: 50%;
}

.recipe ul {
  list-style-type: none;

  .fa-clock {
    color: #D23333;
  }

  .fa-chart-pie {
    color: #058689;
  }

  .fa-face-smile-wink {
    color: #058689;
  }
}

.ingredients {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.ingredients-title {
  flex: 40%;
}

.ingredients-list {
  flex: 60%;
}

.ustensils {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
}

.ustensils-title {
  flex: 40%;
}

.ustensils-list {
  flex: 60%;
}

.steps {
  background-color: burlywood;
}

.steps-title {
  text-align: center;
}

.steps-list {}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

  .photos,
  .infos,
  .ingredients-title,
  .ingredients-list,
  .ustensils-title,
  .ustensils-list {
    flex: 100%;
  }
}
