<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/atchee/on-mange-ou-quoi"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/aceuslu/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Cooked & baked with <i class="fas fa-heart"></i>
  </div>
</div>
